@charset "utf-8";

@mixin inner ($w: 1600px) {
    margin-right: auto;
    margin-left: auto;
    width: 73.12%;
    max-width: ($w);
}

@mixin flex($s: space-between) {
    display: flex;
    justify-content: $s;
    align-items: flex-start;
}

@mixin mb ($m: 100px) {
    margin-bottom: $m;
}



$color-black: #000000;
$color-gury: #898989;
$color-kiiro: #FDF8EB;
$color-pink: #E40065;

body {
    font-size: 14px;
    font-family: "Helvetica", "Helvetica Neue", "Yu Gothic", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif;
    color: $color-black;
    line-height: 1.7142857143;
    letter-spacing: 0;
    font-weight: normal;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/*header*/
.header {
    margin: 70px 0 100px;

    &__inner {
        @include inner;
        @include flex;
        @include mb;
    }

    &__list {
        @include flex;
    }

    &__a {
        color: $color-black;
        margin-left: 30px;
        font-weight: bold;
    }
}

/*foote*/
.footer {
    &__inner {
        @include inner;
    }

    &__copy {
        margin: 100px 0 60px;
        font-size: 12px;
        color: $color-gury;
        text-align: right;
    }
}

/*unit*/
.unit {
    @include mb(60px);

    &__catch {
        font-size: 12px;
        color: $color-gury;
        @include mb(20px);
    }

    &__title {
        font-size: 38px;
        padding-bottom: 30px;
        border-bottom: 1px solid $color-black;
        width: 120px;
        @include mb(60px);
    }

    &__text {
        @include mb(40px);
    }

    &__list {
        @include flex;
    }

    &__item {
        width: 59.82%;
    }
}


/*card*/
.card {
    width: 31.62%;

    &__title {
        font-size: 20px;
        margin: 30px 0 15px;
    }

    &__text {
        font-size: 12px;
        color: $color-gury;
    }

    &__text2 {
        margin-top: 40px;
    }
}

/*block*/
.block {
    width: 47.86%;

    &__title {
        font-size: 12px;
        color: #fff;
        background-color: $color-pink;
        padding: 5px 11px;
        width: 180px;
        border-radius: 10px;
        margin: 30px 0;
    }

    &__text {
        font-size: 20px;

    }

    &__ul {
        padding: 0;
        margin-top: 40px;
    }

    &__li {
        padding-bottom: 15px;
    }
}

.COMPANY .block {
    color: #fff;
}


/*INDEX*/
/*work*/
.work {
    @include mb(80px);

    &__inner {
        @include inner;
    }

    &__list {
        @include flex;
    }
}

/*PROJECT*/
.PROJECT {
    background-color: $color-kiiro;
    padding: 100px 0;

    &__inner {
        @include inner;
    }

    &__list {
        @include flex;
        margin-top: 60px;
    }
}

/*Newsletter*/
.Newsletter {
    background-color: $color-black;
    padding: 100px 0;

    &__inner {
        @include inner;
    }

    &__title {
        @include mb(30px);
        font-size: 32px;
        color: #fff;
        text-align: center;
    }

    &__form {
        text-align: center;
    }

    &__text {
        width: 25.64%;
        border: none;
    }

    &__touroku {
        background-color: #E40065;
        color: #fff;
        width: 8.54%;
        border: none;
    }

    &__ul {
        color: #fff;
        @include flex(center);
        padding: 0;
        margin: 0 auto;
    }

    &__li {
        padding-left: 20px;
        margin-left: 20px;
        border-left: 1px solid #fff;
    }

    &__li:first-child {
        margin: 0;
        padding: 0;
        border: none;
    }
}

/*COMPANY*/

/*company*/
.COMPANY {
    padding-top: 100px;
    @include mb;

    &__inner {
        @include inner;
    }

    &__list {
        @include flex;
    }

    &__bg {
        background: url(./images/bg_project01.jpg) no-repeat center center/cover;
        padding: 150px 0 160px 80px;
        @include mb(60px);
    }

    &__bg2 {
        background: url(./images/bg_project02.jpg) no-repeat center center/cover;
        padding: 150px 0 160px 80px;
        @include mb(60px);
    }
}